[submodule "deps/openapi_dart"]
	path = deps/openapi_dart
	url = ../../hpoul/openapi_dart
[submodule "deps/postgres_utils.dart"]
	path = deps/postgres_utils.dart
	url = ../../authpass/postgres_utils.dart
[submodule "deps/smtpd.dart"]
	path = deps/smtpd.dart
	url = ../../authpass/smtpd.dart
